/* theme.css */
.light-theme {
  --body-color: #fff;
  --light-text: ; /* Adjust as needed for light theme */
  --box-bg: linear-gradient(145deg, #f0f0f0, #e0e0e0); /* Example */
}

.dark-theme {
  --body-color: #212428;
  --light-text: #c4cfde;
  --box-bg: linear-gradient(145deg, #183d3d, #93b1a6); /* Example */
}
